---
layout: main
---

<main id="main">
  <article aria-labelledby="letter-heading" class="h-entry e-content">
    <h1 id="letter-heading" class="p-name">{{ title }}</h1>
    <a class="u-url" href="{{ data.url }}">
      Posted on <time class="dt-published" datetime="{{ page.date | dateToISO }}">{{ page.date | readableDate('dd-LL-yyyy') }}</time>
    </a>

    {{ content | safe}}
  </article>  
</main>