---
layout: main
---
<main id="main">
  <article aria-labelledby="post-heading">
    <h1 id="post-heading">{{ title }}</h1>

    {{ content | safe}}

    <h2>Table of Contents</h2>
    <ul>
      {% for item in glossary %}
      <li>
        <a href="#{{ item.term | slugify }}">{{ item.term }}</a>
      </li> 
      {% endfor %}
    </ul>

    <h2>Items</h2>
    {% for item in glossary %}
      <details id="{{ item.term | slugify }}">
        <summary><h3>{{ item.term }}</h3></summary>
        <div>
          {% for p in item.definition %}
          <p>{{ p }}</p>
          {% endfor %}    
          {% if item.resources %}
          <h3>Further reading</h3>  
          <ul>
            {% for resource in item.resources %}
            <li>
              <a href="{{ resource }}">{{ resource }}</a>
            </li>
          {% endfor %}  
          </ul>
          {% endif %}
        </div>
      </details>
    {% endfor %}

    {% discord %}
  </article>
</main>


