---
layout: main
---
<main>
  <h1>Erik Kroes</h1>
  <section aria-labelledby="intro-heading">
    <h2 id="intro-heading">Introduction</h2>

    {{ content | safe}}
  </section>     

  <section aria-labelledby="section-heading">
    <h2 id="section-heading">Blogging</h2>
    <ul>
    {%- for post in collections.post | reverse -%}
      {% if loop.index0 < 4 %}
    <li><article aria-labelledby="{{ post.data.title | slug }}">
      <h3 id="{{ post.data.title | slug }}"><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
      <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate('dd-LL-yyyy') }}</time>
      <p>{{ post.data.description }}</p>
    </article></li>
      {% endif%}
    {%- endfor -%}
    </ul>
  </section>
</main>
