---
layout: main
---
<main id="main">
  <h1>Erik Kroes</h1>
  <section class="introduction" aria-labelledby="intro-heading">
    <h2 id="intro-heading">Introduction</h2>

    {{ content | safe}}
  </section>     

  <section aria-labelledby="section-heading">
    <h2 id="section-heading"><a href="/blog/">Blog</a>, latest writings</h2>
    <ul class="h-feed">
    {%- for post in collections.post | reverse -%}
      {% if loop.index0 < 4 %}
    <li class="h-entry"><article aria-labelledby="{{ post.data.title | slug }}">
      <h3 id="{{ post.data.title | slug }}" class="p-name"><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
      <time class="dt-published" datetime="{{ page.date | dateToISO }}">{{ post.date | readableDate('dd-LL-yyyy') }}</time>
      <p class="p-summary">{{ post.data.description }}</p>
    </article></li>
      {% endif%}
    {%- endfor -%}
    </ul>
  </section>
</main>
