---
layout: main
---
<main id="main">
  <h1>Erik Kroes</h1>
  <section class="introduction" aria-labelledby="intro-heading">
    <h2 id="intro-heading">Introduction</h2>

    {{ content | safe}}
    {% contact %}
  </section>     

  <section class="trusted" aria-labelledby="trusted-heading">
    <h2 id="trusted-heading">Trusted by</h2>
    <ul>
      <li><img src="/assets/media/logo/ing.png" alt="ING" loading="lazy"></li>
      <li><img src="/assets/media/logo/alzheimers-society.jpg" alt="Alzheimers Society" loading="lazy"></li>
      <li><img src="/assets/media/logo/achmea.png" alt="Achmea" loading="lazy"></li>
      <li><img src="/assets/media/logo/centraal-beheer.png" alt="Centraal Beheer" loading="lazy"></li>
      <li><img src="/assets/media/logo/ikea.png" alt="ikea" loading="lazy"></li>
      <li><img src="/assets/media/logo/wetransfer.png" alt="wetransfer" loading="lazy"></li>
      <li><img src="/assets/media/logo/zurich.png" alt="zurich" loading="lazy"></li>
    </ul>
  </section>

  <section class="activities" aria-labelledby="activities-heading">
    <h2 id="activities-heading">Other activities</h2>
    <dl>
      <dt>Web Accessibility Specialist</dt>
      <dd>First certified Web Accessibility Specialist (WAS) in the Netherlands</dd>
      <dt>Professional Scrum Product Owner</dt>
      <dd>Certified Professional Scrum Product Owner (PSPO)</dd>
      <dt>IDEA11Y</dt>
      <dd>Facilitating the community and meetups of the Dutch platform for Inclusive Design & Accessibility (IDEA11Y)</dd>
    </dl>
    {% contact %}
  </section>

  <section class="blog" aria-labelledby="blog-heading">
    <h2 id="blog-heading"><a href="/blog/">Blog</a>, latest writings</h2>
    <ul class="h-feed">
    {%- for post in collections.post | reverse -%}
      {% if loop.index0 < 4 %}
    <li class="h-entry"><article aria-labelledby="{{ post.data.title | slug }}">
      <h3 id="{{ post.data.title | slug }}" class="p-name"><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
      <p class="p-summary">{{ post.data.description }}</p>
    </article></li>
      {% endif%}
    {%- endfor -%}
    </ul>
  </section>
</main>
