
         <h2>Latest portfolio items</h2>
                <picture>
                  <source
                    type="image/webp"
                    srcset="
                      /wp-content/uploads/2020/04/rotterdam-x-1.jpg.webp           2000w,
                      /wp-content/uploads/2020/04/rotterdam-x-1-300x200.jpg.webp    300w,
                      /wp-content/uploads/2020/04/rotterdam-x-1-940x627.jpg.webp    940w,
                      /wp-content/uploads/2020/04/rotterdam-x-1-380x253.jpg.webp    380w,
                      /wp-content/uploads/2020/04/rotterdam-x-1-768x512.jpg.webp    768w,
                      /wp-content/uploads/2020/04/rotterdam-x-1-1536x1024.jpg.webp 1536w
                    "
                    sizes="(max-width: 2000px) 100vw, 2000px"
                  />
                  <img
                    src="/wp-content/uploads/2020/04/rotterdam-x-1.jpg"
                    alt=""
                    srcset="
                      /wp-content/uploads/2020/04/rotterdam-x-1.jpg           2000w,
                      /wp-content/uploads/2020/04/rotterdam-x-1-300x200.jpg    300w,
                      /wp-content/uploads/2020/04/rotterdam-x-1-940x627.jpg    940w,
                      /wp-content/uploads/2020/04/rotterdam-x-1-380x253.jpg    380w,
                      /wp-content/uploads/2020/04/rotterdam-x-1-768x512.jpg    768w,
                      /wp-content/uploads/2020/04/rotterdam-x-1-1536x1024.jpg 1536w
                    "
                    sizes="(max-width: 2000px) 100vw, 2000px"
                    width="2000"
                    height="1333"
                  />
                </picture>

                <h3><a href="/portfolio/creative-coding/hogeschool-rotterdam/">Hogeschool Rotterdam</a></h3>
                <ul>
                  <li>creative-coding</li>
                  <li>photography</li>
                  <li>portfolio</li>
                  <li>processing</li>
                </ul>


              <a href="/portfolio/creative-coding/hogeschool-rotterdam/" aria-hidden="true" tabindex="-1">Hogeschool Rotterdam</a>
           
                <picture>
                  <source
                    type="image/webp"
                    srcset="
                      /wp-content/uploads/2014/06/nndecafe-imagewall-erikkroes-940-2.jpg.webp         940w,
                      /wp-content/uploads/2014/06/nndecafe-imagewall-erikkroes-940-2-380x249.jpg.webp 380w,
                      /wp-content/uploads/2014/06/nndecafe-imagewall-erikkroes-940-2-300x196.jpg.webp 300w
                    "
                    sizes="(max-width: 940px) 100vw, 940px"
                  />
                  <img
                    src="/wp-content/uploads/2014/06/nndecafe-imagewall-erikkroes-940-2.jpg"
                    alt="Detail of the image wall at the NN DE Café"
                    srcset="
                      /wp-content/uploads/2014/06/nndecafe-imagewall-erikkroes-940-2.jpg         940w,
                      /wp-content/uploads/2014/06/nndecafe-imagewall-erikkroes-940-2-380x249.jpg 380w,
                      /wp-content/uploads/2014/06/nndecafe-imagewall-erikkroes-940-2-300x196.jpg 300w
                    "
                    sizes="(max-width: 940px) 100vw, 940px"
                    width="940"
                    height="617"
                  />
                </picture>

                <h3><a href="/portfolio/photography/nn-de-cafe/">NN DE Café</a></h3>
                <ul>
                  <li>creative-coding</li>
                  <li>photography</li>
                  <li>portfolio</li>
                  <li>processing</li>
                </ul>
              </div>

              <a href="/portfolio/photography/nn-de-cafe/" aria-hidden="true" tabindex="-1">NN DE Café</a>
            
                <picture>
                  <source
                    type="image/webp"
                    srcset="
                      /wp-content/uploads/2018/08/santos-magazine-cover-messi-maradona-clean.jpg.webp         1574w,
                      /wp-content/uploads/2018/08/santos-magazine-cover-messi-maradona-clean-304x380.jpg.webp  304w,
                      /wp-content/uploads/2018/08/santos-magazine-cover-messi-maradona-clean-240x300.jpg.webp  240w,
                      /wp-content/uploads/2018/08/santos-magazine-cover-messi-maradona-clean-768x960.jpg.webp  768w,
                      /wp-content/uploads/2018/08/santos-magazine-cover-messi-maradona-clean-752x940.jpg.webp  752w
                    "
                    sizes="(max-width: 1574px) 100vw, 1574px"
                  />
                  <img
                    src="/wp-content/uploads/2018/08/santos-magazine-cover-messi-maradona-clean.jpg"
                    alt="Illustration for Santos Magazine with the heads of Messi and Maradona woven together"
                    srcset="
                      /wp-content/uploads/2018/08/santos-magazine-cover-messi-maradona-clean.jpg         1574w,
                      /wp-content/uploads/2018/08/santos-magazine-cover-messi-maradona-clean-304x380.jpg  304w,
                      /wp-content/uploads/2018/08/santos-magazine-cover-messi-maradona-clean-240x300.jpg  240w,
                      /wp-content/uploads/2018/08/santos-magazine-cover-messi-maradona-clean-768x960.jpg  768w,
                      /wp-content/uploads/2018/08/santos-magazine-cover-messi-maradona-clean-752x940.jpg  752w
                    "
                    sizes="(max-width: 1574px) 100vw, 1574px"
                    width="1574"
                    height="1968"
                  />
                </picture>

                <h3><a href="/portfolio/photography/santos-magazine-messi-maradona/">Santos Magazine Cover – Messi &amp; Maradona</a></h3>
                <ul>
                  <li>photography</li>
                  <li>portfolio</li>
                </ul>
              </div>

              <a href="/portfolio/photography/santos-magazine-messi-maradona/" aria-hidden="true" tabindex="-1">Santos Magazine Cover – Messi &amp; Maradona</a>

          <a href="http://www.erikkroes.nl/portfolio/">&gt; See my entire portfolio</a>   