
  
      <h2>Streaming</h2>
  
      <h3>Platforms</h3>
      <p>You can stay up to date on these platforms</p>
      <ul>
        <li>Follow me on <a href="https://twitch.tv/erikKroes/videos">Twitch</a></li>
        <li>Subscribe to me on <a href="https://twitch.tv/erikKroes/videos">Twitch</a></li>
        <li>Follow me on <a href="https://twitter.com/erikKroes/" rel="me">Twitter</a></li>
      </ul>

      <h3>Accessibility Session</h3>
      <p>
        Do you encounter a barrier in my streams? Let me know and I'll chase it. Once a week I stream about Web Accessibility. I prefer to have a guest. Guests can present a topic related to Web Accessibility and/or Web Development.
        If there's no presentation, I'll pick up an open source project to improve while streaming. Wether there is a guest or not, it revolves around sharing knowledge and experience. Please ask questions so we can have a
        conversation. Want to join me? It's like a continuous call for presentations except you can just <a href="#contact">contact</a> me.
      </p>
      <p>
        I'm not neuro-typical and have a brain injury after 3 surgeries. My la(te)st surgery was in 2020. It might result in having trouble to focus on multiple things and being tired early. So don't expect me to be fast or stream
        24/7. Follow me on <a href="https://twitch.tv/erikKroes/videos">Twitch</a> for notifications.
      </p>

      <h3>Stream Rules</h3>
      <ul>
        <li>Follow the rules</li>
        <li>Be inclusive</li>
        <li>No promotion</li>
        <li>English</li>
      </ul>

      <h2>Blogging</h2>

      <ul>
      {%- for post in collections.post -%}
        <li>{{ post.data.pageTitle }}</li>
      {%- endfor -%}
      </ul>

      <h3><a href="/blog/accessible-html-toggle-button-switch/">Accessible HTML Toggle Button (Switch).</a></h3>          
        <p>
          Everybody loves toggle switch on mobile, or so I’ve heard. But if you’re building a website, how do you reproduce this without excluding people. The result Let’s start with the most important part. This is the end result
          as featured on Codepen: See the Pen Toggle Button by Erik (@erikkroes) on CodePen. What is this? […]
        </p>
        <a href="/blog/accessible-html-toggle-button-switch/" aria-hidden="true" tabindex="-1">Accessible HTML Toggle Button (Switch).</a>
            
        <h3><a href="/blog/personal-update/">Personal update</a></h3>
        <p>
          I think I’m allowed at least one personal message these days. There’s no thread or solid reasoning in this. My mind is still mushy so there should be typo’s, but it’s the mind I have. 🎉 But to me it’s all about
          gratitude and privilege. How it started So, first some steps back. To how […]
        </p>
        <a href="/blog/personal-update/" aria-hidden="true" tabindex="-1">Personal update</a>

        <h3><a href="/blog/accessibility/the-guide-to-accessible-web-components-draft/">The Guide to Accessible Web Components</a></h3>
        <p>
          Web Components are a newly supported standard. They’re a great match for Design Systems because they’re futureproof and work with any framework. Building proper UI Web Components can be quite a task though, especially if
          you want them to be accessible. Here are some pointers on what to look out for.
        </p>
        <a href="/blog/accessibility/the-guide-to-accessible-web-components-draft/" aria-hidden="true" tabindex="-1">The Guide to Accessible Web Components</a>

        <a href="http://www.erikkroes.nl/blog/">&gt; Read all my blog posts</a>

