<div class="cta">
    <h3>What can I do for you?</h3>
    <ul>
        <li>
            <h4>Value my work?</h4>
            <a href="https://ko-fi.com/erikkroes">☕️ Support me</a>
        </li>
        <li>
            <h4>Specific needs?</h4>
            <a href="#">📧 Contact me</a>
        </li>
        <li>
            <h4>Big plans?</h4>
            <a href="#">👷‍♂️ Hire me</a>
        </li>

    </ul>
<div>
    