<footer aria-labelledby="footer-heading">
  <h2 id="footer-heading">About Erik Kroes</h2>
  <section aria-labelledby="profile-heading">
    <h3 id="profile-heading">Profile</h3>
    <p>
      Erik Kroes is an artist, photographer and creative coder. He explores the limitations and possibilities of the medium photography by experimenting and combining photography with other media using any means neccessary (but mostly
      digital).
    </p>
  </section>
    
  <section aria-labelledby="social-heading">
    <h3 id="social-heading">Follow Erik Kroes</h3>
    <p>
      Connect with me via: <a href="mailto:contact@k4rp.nl">Email</a> | <a href="https://twitch.tv/erikKroes/videos">Twitch</a> | <a href="http://www.twitter.com/erikkroes" rel="me">Twitter</a> |
      <a href="https://www.linkedin.com/in/erikkroes">LinkedIn</a> | <a href="https://www.github.com/erikkroes" rel="me">Github</a> |
      <a href="/feed.xml">RSS</a>
    </p> 
  </section>   
  <img src="https://stats.erikkroes.nl/matomo.php?idsite=1&amp;rec=1" alt="" />
</footer>