<footer aria-labelledby="footer-heading">
  <div>
    <h2 id="footer-heading">About Erik Kroes</h2>
    <div></div>

    <div>
      {% contact %}
      <section class="profile" aria-labelledby="profile-heading">
        <h3 id="profile-heading">Profile</h3>
        <p>
          Erik Kroes is a consultant specialized in accessibility, inclusive design and design systems, and enjoys to combine them.
        </p>
      </section>        
    </div>    

    <section class="social" aria-labelledby="social-heading">
      <h3 id="social-heading">Follow Erik Kroes</h3>
      <h4>Connect with me</h4>
      <ul> 
        <li><a href="https://www.twitter.com/erikkroes" rel="me" >Twitter</a></li>
        <li><a href="https://www.linkedin.com/in/erikKroes">LinkedIn</a></li>
        <li><a href="https://twitch.tv/erikKroes/videos">Twitch</a></li>
        <li><a href="https://www.github.com/erikKroes" rel="me">Github</a></li>
        <li><a href="https://www.youtube.com/channel/UCwrpGO76k2HyUQspl-rG2eQ/">YouTube</a></li>       
        <li><a href="https://mastodon.social/@erikKroes" rel="me" >Mastodon</a></li>
        <li><a href="/blog/feed.xml">RSS - Blog</a></li>
        <li><a href="/notes/feed.xml">RSS - Notes</a></li>
      </ul> 
    </section>     
  </div>
</footer>