<header>
  <nav class="h-card">
    <a href="/" class="p-name u-url u-uid">Erik Kroes</a>
    <ul>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/newsletter/">Newsletter</a></li>
      <li><a href="/about/">About</a></li>
    </ul>
  </nav>
</header>
