<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/assets/site.webmanifest">

    <meta name="monetization" content="$coil.xrptipbot.com/h59d6rpOTYKmhAXFLDvrPQ" />
    <meta name="description" content="{{data.description}}" />
    
    <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="{% if description %}{{ description }}{% else %}{{data.description}}{% endif %}" />
    <meta name="twitter:title" content="{% if title %}{{ title }} | {% endif %}{{ data.title }}" />
    <meta name="twitter:site" content="@erikkroes" />

    <meta name="twitter:image" content="{% if cover %}{{ data.url + cover }}{% endif %}" />
    <meta name="twitter:image:alt" content="{% if cover-alt %}{{ cover-alt }}{% endif %}" />
    <meta property="og:image" content="{% if cover %}{{ data.url + cover }}{% endif %}" />
    <meta name="og:image:alt" content="{% if cover-alt %}{{ cover-alt }}{% endif %}" />

    <title>{% if title %}{{ title }} | {% endif %}{{ data.title }}</title>


    <link rel="preload" href="{{ '/assets/fonts/Atkinson-Hyperlegible-Regular-102a.woff2' | url }}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ '/assets/fonts/Atkinson-Hyperlegible-Bold-102a.woff2' | url }}" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="{{ '/assets/styles/style.css' | url }}">        
    
    {# <link rel="preconnect" href="https://webmention.io"> #}

    <link rel="webmention" href="https://webmention.io/www.erikkroes.nl/webmention" />
</head>