<header>
  <nav class="h-card">
    <a href="#main" class="skip-link">Skip to content</a>
    <div class="logo">
      <svg version="1.1" width="32" height="32" viewBox="0 0 800 800" xmlns="http://www.w3.org/2000/svg">
        <rect width="300" height="100" x="100" y="150" rx="25" />
        <rect width="200" height="100" x="100" y="350" rx="25" />
        <rect width="300" height="100" x="100" y="550" rx="25" />

        <rect width="100" height="100" x="600" y="150" rx="25" />
        <rect width="100" height="100" x="500" y="250" rx="25" />
        <rect width="100" height="100" x="400" y="350" rx="25" />
        <rect width="100" height="100" x="500" y="450" rx="25" />
        <rect width="100" height="100" x="600" y="550" rx="25" />
      </svg>
      <a href="/">ErikKroes.nl</a>
    </div>

    <ul>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/about/">About</a></li>
    </ul>
  </nav>
</header>
