<p>Want to stay up to date with the latest learnings and insights about accessibility? Subscribe and you'll get the latest updates delivered to you personally! You'll be a reason for Erik to write frequent blogs, share tips and open up his treasure chest of knowledge (no actual chest involved).  </p>

<form class="email-form" name="newsletter" method="POST" data-netlify="true" netlify-honeypot="bot-field">
    <div hidden>
    <label>
        Don’t fill this out if you're human: 
        <input name="bot-field" />
    </label>
    </div>
    <label for="email_address">Email address</label>
    <div class="newsletter-submit">
    <input type="email" name="email_address" id="email_address" required />
    <button type="submit">Try it out!</button>
    </div>
</form>