---
permalink: /notes/feed.json
eleventyExcludeFromCollections: true
---
{
  "version": "https://jsonfeed.org/version/1",
  "title": "Notes - Erik Kroes",
  "home_page_url": "{{ data.url }}/notes/",
  "feed_url": "{{ data.url }}/notes/feed.json",
  "items": [
  {%- for note in collections.note -%}
  {% set absoluteNoteUrl %}{{ note.url | url | absoluteUrl(data.url) }}{% endset %}    
    {
      "id": "{{ note.data.title | slug }}",
      "url": "{{ note.url }}",
      "content_text": "{{ note.templateContent | htmlToAbsoluteUrls(absoluteNoteUrl) | stripHTML | safe | replace('\"', '\\"') | replace('\n', '\\n') }}",
      "content_html": "{{ note.templateContent | htmlToAbsoluteUrls(absoluteNoteUrl) | safe | replace('\"', '\\"') | replace('\n', '\\n') | replace('&quot;', '\\"')  }}"{% if note.data.image %},     
      "attachments": [
        {
          "url": "{{ note.data.image}}",
          "mime_type": "image/jpeg",
          "title": "{{ note.data.alt}}"
        }
      ]{% endif %}
    }{%- if not loop.last -%},{%- endif -%}
  {% endfor %}
  ]
}
