@font-face {
  font-family: 'atkinson_hyperlegible';
  src: url('../../assets/fonts/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'atkinson_hyperlegible';
  src: url('../../assets/fonts/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --body-width: 50rem;
  --color-dark: #2d2d35;
  --color-blue: #9dc0d7;
  --color-linkblue: #003052;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: var(--color-dark);
  display: flex;
  flex-direction: column;
  font-family: atkinson_hyperlegible, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.1875rem;
  justify-content: space-between;
  line-height: 1.3;
  min-height: 100vh;
}

h1 {
  font-size: 2.5rem;
  max-height: 60vh;
}

body main {
  padding: 2rem;  
}

body footer {
  background-color: whitesmoke;
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 1rem 2rem;
}

body footer div { 
  display: flex;  
  align-items: end;
}

body footer div span {
  padding-left: .5rem;
}
