---
layout: main
---
{% set previousPost = collections.post | getPreviousCollectionItem(page) %}
{% set nextPost = collections.post | getNextCollectionItem(page) %}
<main>
  <article aria-labelledby="post-heading" class="h-entry">
    <h1 id="post-heading" class="p-name">{{ title }}</h1>
    <a class="u-url" href="{{ data.url }}">
      Posted on <time class="dt-published" datetime="{{ page.date }}">{{ page.date | readableDate('dd-LL-yyyy') }}</time>
    </a>

    {{ content | safe}}

    <aside aria-labelledby="aside-heading"> 
      <h2 id="aside-heading">Aside</h2>
      {% if previousPost or nextPost %}
        {% include "parts/prevNext.njk" %}
      {% endif %}

      {% include "parts/webmentionlist.njk" %}
    </aside>
  </article>  
</main>