/* Generic bit */

* {
  margin: 0;
  padding: 0;
}

a {
  position: relative;
  text-decoration: none;
  color: #003052;
  border-bottom: 0.125rem solid currentColor;
  padding: 0 0.125rem 0.125rem;
  border-radius: 0.125rem;
  transition: all 0.2s ease-out;
}

a:focus, a:hover {
  color: black;
  background-color: #9dc0d7;
  box-shadow: 0 0 0 0.125rem currentColor;
  border-bottom-width: 0.25rem;
}

a:visited {
  color: #623393;
}

a:focus:visited {
  color: #38254E;
}

body {
  background-color: whitesmoke;
  color: #2d2d35;
  display: flex;
  flex-direction: column;
  font-family: atkinson_hyperlegible, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.1875rem;
  line-height: 1.7;
  text-rendering: optimizeLegibility;
}

body > * {
  padding-top: 1rem;
}

header, main, footer { 
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(18rem, 60rem) minmax(1rem, 1fr);
}

header nav {
  display: flex;
  grid-column: 2;
  justify-content: space-between;
}

header nav ul li {
  display: inline-block;
  padding-left: 1rem;
}

main {
  background-color: white;
}

main > *,
footer > * {
  grid-column: 2;
  padding: 1rem;
}

main > section + section > ul {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(16rem,1fr));
  column-gap: 2rem;
  list-style: none;
  padding: 0;
}

main > section article {
  display: flex;
  flex-direction: column;
  position: relative;
}

main > article > * + *,
main > article > aside > * + * {
  margin-bottom: 1rem;
}

main > article > p:nth-of-type(2){
  font-size: 2rem;
}

main > section article > :not(img) {
  /* padding-left: 1rem;
  padding-right: 1rem; */
}

article > h2 > a,
article > h3 > a,
article > h4 > a {
  position: relative;
  color: unset;
}

main > article > h2 > a::before,
main > article > h3 > a::before,
main > article > h4 > a::before {
  content: '#';
  position: absolute;
  left: -1.2rem;
  pointer-events: none;
}

footer > * {
  max-width: 30rem;
}

ul {
  padding-left: 2rem;
}

article > aside > nav > ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: unset;
}
